<ion-view view-title="Lance">
  <link rel="stylesheet" type="text/css" href="css/lances.css">
  <div class="tabs-striped tabs-top tabs-background-positive tabs-color-light ">
  <div class="efetuar">
    <div class="item-text-wrap">
      <div class="card">
        <div class="titulo-anuncio">Mesa de Jantar</div>
        <div class="list">
          <label class="col-50 inline-input">
            <span class="input-label flaticon-price-tag"> Valor</span>
            <input type="text" placeholder="">
          </label>
          <label class="col-50 inline-input">
            <span class="input-label flaticon-calendar"> Estimativa</span>
            <input type="date" placeholder="">
          </label>
          <label class="label-observacoes">
            <span class="input-label">Observações</span>
            <textarea class="observacoes-lance"></textarea>
          </label>
          <button class="button button-block button-balanced" ng-hide="concluido==1">Salvar Lance</button>
        </div>
      </div>
    </div>
  </div>
  <ion-content>
    <div id="lances-anuncio" class="efetuar">
      <div class="card">
        <a class="item item-thumbnail-left" href="#">
          <img src="img/mike.png">
          <h2>Roberto Nunes</h2>
          <br>
          <div class="row">
            <p class="col-50"><i class="icon ion-ios-pricetags"></i> R$125,00</p>
            <p class="col-50"><i class="icon ion-android-calendar"></i> 24/02 03 dias</p>
          </div>
        </a>
      </div>
      <div class="card">
        <a class="item item-thumbnail-left" href="#">
          <img src="img/mike.png">
          <h2>Roberto Nunes</h2>
          <br>
          <div class="row">
            <p class="col-50"><i class="icon ion-ios-pricetags"></i> R$125,00</p>
            <p class="col-50"><i class="icon ion-android-calendar"></i> 24/02 03 dias</p>
          </div>
        </a>
      </div>
      <div class="card">
        <a class="item item-thumbnail-left" href="#">
          <img src="img/mike.png">
          <h2>Roberto Nunes</h2>
          <br>
          <div class="row">
            <p class="col-50"><i class="icon ion-ios-pricetags"></i> R$125,00</p>
            <p class="col-50"><i class="icon ion-android-calendar"></i> 24/02 03 dias</p>
          </div>
        </a>
      </div>
      <div class="card">
        <a class="item item-thumbnail-left" href="#">
          <img src="img/mike.png">
          <h2>Roberto Nunes</h2>
          <br>
          <div class="row">
            <p class="col-50"><i class="icon ion-ios-pricetags"></i> R$125,00</p>
            <p class="col-50"><i class="icon ion-android-calendar"></i> 24/02 03 dias</p>
          </div>
        </a>
      </div>
      <div class="card">
        <a class="item item-thumbnail-left" href="#">
          <img src="img/mike.png">
          <h2>Roberto Nunes</h2>
          <br>
          <div class="row">
            <p class="col-50"><i class="icon ion-ios-pricetags"></i> R$125,00</p>
            <p class="col-50"><i class="icon ion-android-calendar"></i> 24/02 03 dias</p>
          </div>
        </a>
      </div>
    </div>
  </ion-content>
</ion-view>