<ion-view view-title="Sobre">
  <link rel="stylesheet" type="text/css" href="css/lances.css">
  <div class="tabs-striped tabs-top tabs-background-positive tabs-color-light ">
   
  <ion-content>
    <div class="card sobre">
	 <h3 class="titulo">Sobre a EntregÁgil</h3>
	  <div class="item-body txtSobre">
	    <p>
	     Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce at tristique augue. Ut gravida ac odio eu mattis. Praesent non sapien commodo, condimentum justo sed, euismod elit. Nulla porta pretium nisi, non finibus orci. Ut dignissim enim vitae tellus porttitor efficitur. Praesent sollicitudin aliquet pulvinar. Quisque varius enim faucibus interdum condimentum. Praesent sed auctor elit, in porta augue. Interdum et malesuada fames ac ante ipsum primis in faucibus. Integer porta vestibulum venenatis. Nulla vitae tincidunt ex. Donec in dolor feugiat, malesuada mi sed, dapibus arcu. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.

		Quisque sed odio varius, ultrices erat nec, lobortis elit. Donec elementum feugiat urna at aliquet. Sed ac lectus ac metus laoreet vehicula. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Integer arcu sem, porttitor sit amet cursus in, vulputate ut tortor. Praesent congue commodo lectus, et elementum magna tristique quis. Praesent quam neque, aliquam quis sem eget, feugiat luctus quam.
	    </p>
	  </div>
	</div>
  </ion-content>
</ion-view>
<style type="text/css">
	.sobre{}
	.sobre h3.titulo{
		text-align: center;
		color: #13343d;
		margin-bottom: 0px;
    	margin-top: 10px;
	}
	.sobre .txtSobre{
		padding: 0px 15px 0px 15px;
	}
	.sobre .txtSobre p{
		text-align: justify;
	}
</style>


