body {
  padding-bottom: 30px;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}
.theme-showcase > p > .btn {
  margin: 5px 0;
}
.theme-showcase .navbar .container {
  width: auto;
}
nav a {
	margin-top: 10px;
	padding: 5px;
	color: #FFF;
	margin-left: 15px;
	float: left;
	text-transform: uppercase;
}
.logo {
	margin-top: 100px;
}
.panel-heading  {
	background-color: #222!important;
	border-color: #222!important;
}
.panel-primary>.panel-heading {
	background-color: #222!important;
	border-color: #222!important;
}
 .panel-primary {
	border-color: #222!important;
}
.arrow{
	background-color: rgb(53, 53, 100);
	width: 45px;
	height: 45px;
	border-radius: 50%;
	color: #FFF;
	text-align: center;
	padding-top: 10px;
	transition: 1s all;
	cursor: pointer;
	position: absolute;
	right: 0;
	bottom: 0;
	margin: 50px;
	font-size: 22px;
	font-weight: bold;
}
.arrow:hover {
	background-color: #222;
	color: #FFF;
	text-decoration: none;
}
.navbar {
	border-radius:0!important; 
}
.submit {
	float: right;
	margin-top: 10px;
}
.form-horizontal .form-group  {
	margin-right: 0!important;
	margin-left: 0!important;
	padding: 5px;
}