<link href="css/criarAnuncio/veiculo/esporte.css" rel="stylesheet">

<div id="esporte" class="container" ng-init="init()">
    <div class="title-pag">Criar Anúncio</div>
    <div class="etapas">
        <ul>
            <li ng-class="{}"><b>1º | Categoria</b></li>
            <li ng-class="{on : count==2}"><b>2º | Produto</b></li>
            <li ng-class="{}"><b>3º | Entrega</b></li>
        </ul>
    </div>
    <div class="titulocategorias">
        <label>Preencha as informações do produto que será transportado.</label>
    </div>
    <form ng-submit="salvarItem()">
        <div id="criarAnuncio">
            <div class="veiculoEsporte" >
                <div class="anuncioBox">
                    <div class="tituloanuncio">Veículos - Esportes (Bike, Skate...)</div>
                    <div class="col-md-12">
                        <label>Tipo:</label>
                    </div>
                    <div class="col-md-12">
                        <input type="text" class="form-control" id="tipoEsporte" ng-model="anuncio.tipo" placeholder="Bike, Skate, Patinete, Trike... " ng-blur="validarCampoObrigatorio('Tipo', '#tipoEsporte')" required="">
                    </div>
                    <div class="col-md-12">
                        <label>Dimensões: </label>
                    </div>
                    <div class="col-md-2">
                        <input type="text" onkeypress='return (event.charCode >= 48 && event.charCode <= 57) || event.keyCode == 46' class="form-control" id="esporteAltura" ng-model="anuncio.altura"  placeholder="Altura(m)" ng-blur="validarCampoObrigatorio('Altura', '#esporteAltura')" required="">
                    </div>
                    <div class="col-md-2">
                        <input type="text" onkeypress='return (event.charCode >= 48 && event.charCode <= 57) || event.keyCode == 46' class="form-control" id="esporteLargura" ng-model="anuncio.largura"  placeholder="Largura(m)" ng-blur="validarCampoObrigatorio('Largura', '#esporteLargura')" required="">
                    </div>
                    <div class="col-md-2">
                        <input type="text" onkeypress='return (event.charCode >= 48 && event.charCode <= 57) || event.keyCode == 46' class="form-control" id="esporteComprimento" ng-model="anuncio.comprimento" placeholder="Comprimento(m)" ng-blur="validarCampoObrigatorio('Comprimento', '#esporteComprimento')" required="">
                    </div>
                    <div class="col-md-2">
                        <input type="text" onkeypress='return (event.charCode >= 48 && event.charCode <= 57) || event.keyCode == 46' class="form-control" id="esportePeso" ng-model="anuncio.peso" placeholder="Peso(kg)" ng-blur="validarCampoObrigatorio('Peso', '#esportePeso')" required="">
                    </div>
                    <div class="col-md-4">
                    </div>
                    <div class="col-md-12">
                        <label>Observação:</label>
                    </div>
                    <div class="textoarea">
                        <div class="col-md-12">
							<textarea class="form-control" rows="2" placeholder="Observação ou instrução adicional (opcional)" ng-model="anuncio.observacao" >
							</textarea>
                        </div>
                    </div>
                    <div class="fotos">
                        <div class="col-md-6">
                            <label for="foto1">Fotos:
                            </label>
                            <input type="file" alt="Foto" class="img-responsive img-thumbnail" ng-model="item.esportesFoto">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <button type="submit" class="btn btn-primary pull-right">Próximo</button>
        <a href="#/anuncio/criar-anuncio" class="btn btn-primary pull-left">Voltar</a>

    </form>


</div>