<link rel="stylesheet" type="text/css" href="css/certificar.css">
<div class="container"  ng-init="init()" id="certificar">
  <div class=" col-md-10 pull-right">
   	<div class="title-pag">Certificação para transportadores</div>










      <div class="texto">
      Adquira o Certificado TRANSPORTADOR PREMIUM e tenha as seguintes vantagens:<br>
      <ul class="first-list">  
          <li>O certificado TRANSPORTADOR PREMIUM, identifica os transportadores que possuem documentação regular para os serviços de transporte.</li>
          <li>Você também terá acesso a novas funcionalidades do sistema, como: </li>
      </ul>
      <ul class="second-list">  
          <li>Sugestão de Anúncios para a mesma rota de um Anuncio já ofertado.</li>
          <li>Sugestão de Anúncios para o seu frete de retorno. </li>
      </ul>
      
      
      
      Adquira já sua certificação, pague apenas uma vez, sem mensalidade.<br>
      <b>Apenas R$ xx,xx em até x vezes no cartão ou 5% de desconto no boleto.</b>
      </div>



      <div class="row text-center acoes"> 
         <a href="#/usuario/certificado" type="submit" class=" pull-right btn btn-primary btn-lg first" ng-disabled="userForm.$invalid">Desejo Adquirir Certificação</a>
         <a href="#/" type="submit" class=" pull-left btn btn-primary btn-lg" ng-disabled="userForm.$invalid">Finalizar Cadastro</a>
       </div>
<!-- 
        <div class="col-md-3 ">
        </div>
    </div>

  </div>
</div>

