<link rel="stylesheet" type="text/css" href="css/certificado.css">
<div class="container"  ng-init="init()" id="certificado">
  <div class=" col-md-9 pull-right">
   	<div class="title-pag">Certificação para transportadores</div>
    <div class="tipos">
         <div class="btn-group">
              <label class="btn btn-primary" ng-disabled="tipoForm=='juridica'">
                  <input type="radio" value="fisica" > Pessoa Física
              </label>
              <label class="btn btn-primary" ng-disabled="tipoForm=='fisica'">
                 <input type="radio"  value="juridica"> Pessoa Jurídica
              </label>
            </div>
    </div>


    <div class="ctTitle">Documentação para envio</div>
    <form ng-submit="addDocumento()">
      <div class="ctdocFisico" ng-show="tipoForm=='fisica'">

        <div class="row">
          <div class="col-md-9 no-padding" text-align="left">
            <h3 style="text-align: left;">CNH - Carteira Nacional de Habilitação</h3>
          </div>
          <div class="col-md-3">
            
              <!--   <input type="file" id="file1" name="file1" class="inputfile" ng-change="barraProgresso('btnUm',33.33)" ng-model='fileModel' base-sixty-four-input/>
                
                <label class="btn btn-success" for="file1">Carregar Imagem</label> -->

                 <div class="fileupload fileupload-new" data-provides="fileupload">
                     <span class=" btn btn-success btn-file"><span class="fileupload-new" >Carregar Imagem</span>
                     <span class="fileupload-exists">Carregado</span>       
                     <input type="file"  ng-model="certificado.carteiraMotorista" id="carteiraMotorista" base-sixty-four-input ng-change="barraProgresso('btnUm',33.33)"/></span>
                     <span class="fileupload-preview cert"></span>
                     <a ng-click="removeBarra('btnUm',33.33)" href="#" class="glyphicon glyphicon-trash fileupload-exists" data-dismiss="fileupload" style="float: none; top: -4px"></a>
                </div>
          
          </div>
        </div>




        <div class="row">
          <div class="col-md-9 no-padding">
            <h3 style="text-align: left;" >Comprovante de Endereço - Conta de Água, Luz ou Telefone</h3>
          </div>
          <div class="col-md-3">
           <div class="fileupload fileupload-new" data-provides="fileupload">
                     <span class="btn btn-success btn-file"><span class="fileupload-new">Carregar Imagem</span>
                     <span class="fileupload-exists">Carregado</span>       
                     <input type="file"ng-model="certificado.comprovanteEndereco" id="comprovanteEndereco" base-sixty-four-input ng-change="barraProgresso('btnDois',33.33)"/></span>
                     <span class="fileupload-preview cert"></span>
                     <a ng-click="removeBarra('btnDois',33.33)" href="#" class="glyphicon glyphicon-trash fileupload-exists" data-dismiss="fileupload" style="float: none; top: -4px"></a>
                </div>



            <!-- <div class="certBotaoF1">
              <input type="file" name="file2" id="file2" class="inputfile" ng-change="barraProgresso('btnDois',33.33)" ng-model='fileModel' base-sixty-four-input />
              <label class="btn btn-success" for="file2">Carregar Imagem</label>
            </div> -->
          </div>
        </div>


        <div class="row">
          <div class="col-md-9 no-padding">
            <h3 style="text-align: left;">CRLV - Certificado Registro e Licenciamento do veiculo</h3>
          </div>
          <div class="col-md-3">
          <div class="fileupload fileupload-new" data-provides="fileupload">
                     <span class="btn btn-success btn-file"><span class="fileupload-new">Carregar Imagem</span>
                     <span class="fileupload-exists">Carregado</span>       
                     <input type="file"ng-model="certificado.crlv" id="crlv" base-sixty-four-input ng-change="barraProgresso('btnTres',33.33)"/></span>
                     <span class="fileupload-preview cert"></span>
                     <a  ng-click="removeBarra('btnTres',33.33)" href="#" class="glyphicon glyphicon-trash fileupload-exists" data-dismiss="fileupload" style="float: none; top: -4px"></a>
                </div>





            <!-- <div class="certBotaoF1">
              <input type="file" name="file3" id="file3" class="inputfile" ng-change="barraProgresso('btnTres',33.33)" ng-model='fileModel' base-sixty-four-input />
              <label class="btn btn-success" for="file3">Carregar Imagem</label> -->
            </div>
          </div>
        </div>
      

    
   <!--      <div class="certCheck">
          <label><input type="checkbox" ng-model="checkProprietario" name="check"> Não sou proprietário do veículo</label>
        </div>


      <div class="row">
        <div class="col-md-9">
          <h3>CPF e RG do Proprietario do Veículo</h3>
        </div>
        <div class="col-md-3">
          <div class="certBotaoF1">
            <input type="file" name="file" id="file" class="inputfile" />
            <label class="btn btn-success" for="file">Carregar Imagem</label>
          </div>
        </div>
      </div>
    </div> -->

      <div class="ctdocJuridico" ng-show="tipoForm=='juridica'">
        <div class="row">
          <div class="col-md-9 no-padding">
            <h3 style="text-align: left;">Contrato Social e Alterações</h3>
          </div>
          <div class="col-md-3">

          <div class="fileupload fileupload-new" data-provides="fileupload">
                     <span class="btn btn-success btn-file"><span class="fileupload-new">Carregar Imagem</span>
                     <span class=" btncarregado fileupload-exists">Carregado</span>       
                     <input type="file"ng-model="certificado.contratoSocial" id="contratoSocial" base-sixty-four-input ng-change="barraProgresso('btnQuatro',25.00)"/></span>
                     <span class="fileupload-preview cert"></span>
                     <a href="#" class="glyphicon glyphicon-trash fileupload-exists" data-dismiss="fileupload" style="float: none; top: -4px" ng-click="removeBarra('btQuatro',25.00)"></a>
                </div>

            <!-- <div class="certBotaoF1">
              <input type="file" name="file4" id="file4" class="inputfile" ng-change="barraProgresso('btnQuatro',25.00)" ng-model='fileModel' base-sixty-four-input />
              <label class="btn btn-success" for="file4">Carregar Imagem</label>
            </div>
          </div> -->
        </div>
        <div class="row">
          <div class="col-md-9 no-padding">
            <h3 style="text-align: left;">Cartão do CNPJ</h3>
          </div>
          <div class="col-md-3">


          <div class="fileupload fileupload-new" data-provides="fileupload">
                     <span class="btn btn-success btn-file"><span class="fileupload-new">Carregar Imagem</span>
                     <span class="fileupload-exists">Carregado</span>       
                     <input type="file"ng-model="certificado.cartaoCnpj" id="cartaoCnpj" base-sixty-four-input ng-change="barraProgresso('btnCinco',25.00)"/></span>
                     <span class="fileupload-preview cert"></span>
                     <a ng-click="removeBarra('btnCinco',25.00)" href="#" class="glyphicon glyphicon-trash fileupload-exists" data-dismiss="fileupload" style="float: none; top: -4px"></a>
          </div>
            <!-- <div class="certBotaoF1">
              <input type="file" name="file5" id="file5" class="inputfile" ng-change="barraProgresso('btnCinco',25.00)" ng-model='fileModel' base-sixty-four-input />
              <label class="btn btn-success" for="file5">Carregar Imagem</label>
            </div> -->
          </div>
        </div>
        <div class="row">
          <div class="col-md-9 no-padding">
            <h3 style="text-align: left;">Alvará de Funcionamento</h3>
          </div>
          <div class="col-md-3">
          <div class="fileupload fileupload-new" data-provides="fileupload">
                     <span class="btn btn-success btn-file"><span class="fileupload-new">Carregar Imagem</span>
                     <span class="fileupload-exists">Carregado</span>       
                     <input type="file"ng-model="certificado.alvaraFuncionamento" id="alvaraFuncionamento" base-sixty-four-input ng-change="barraProgresso('btnSeis',25.00)"/></span>
                     <span class="fileupload-preview cert"></span>
                     <a ng-click="removeBarra('btnSeis',25.00)"  class="glyphicon glyphicon-trash fileupload-exists" data-dismiss="fileupload" style="float: none; top: -4px"></a>
          </div>



            <!-- <div class="certBotaoF1">
              <input type="file" name="file6" id="file6" class="inputfile" ng-change="barraProgresso('btnSeis',25.00)" ng-model='fileModel' base-sixty-four-input />
              <label class="btn btn-success" for="file6">Carregar Imagem</label>
            </div> -->
          </div>
        </div>
        <div class="row">
          <div class="col-md-9 no-padding">
            <h3 style="text-align: left;">CPF e RG do(s) Sócios(s)</h3>
          </div>
          <div class="col-md-3">


         <div class="fileupload fileupload-new" data-provides="fileupload">
                     <span class="btn btn-success btn-file"><span class="fileupload-new">Carregar Imagem</span>
                     <span class="fileupload-exists">Carregado</span>       
                     <input type="file"ng-model="certificado.cpfRg" id="cpfRg" base-sixty-four-input ng-change="barraProgresso('btnSete',25.00)"/></span>
                     <span class="fileupload-preview cert"></span>
                     <a ng-click="removeBarra('btnSete', 25.00)" href="#" class="glyphicon glyphicon-trash fileupload-exists" data-dismiss="fileupload" style="float: none; top: -4px "></a>
         </div>
           <!--  <div class="certBotaoF1">
              <input type="file" name="file7" id="file7" class="inputfile" ng-change="barraProgresso('btnSete',25.00)" ng-model='fileModel' base-sixty-four-input />
              <label class="btn btn-success" for="file7">Carregar Imagem</label>
            </div> -->
          </div>
        </div>
      </div>
     </div>

      <div class="barra-progresso">
        <div class="cont"></div>
      </div>
      <div class="ctBotaoProximo">
        <div class="col-xs-12 no-padding">
            <!-- ng-disable = "noimages"  SIGNIFICA QUE O CAMPO FICA DESABILITADO EM QUANTO A VARIAVEL FOR TRUE-->
           <button type="submit" class="pull-right btn btn-primary" ng-disabled="userForm.$invalid || noimages">Próximo</button>
        </div>
      </div>
    </form>
  </div>
</div>

<script type="text/javascript">
  //FUNCAO DE UPLOAD COM A BARRA DE PROGRESSO
  



</script>