<div class="categorias">
    <h2>O que deseja transportar?</h2>
    <ul>
        <li>
            <a class="link-sem-underline" href="#/anuncios/veiculo">
                <i class="flaticon-vehicle-steering-wheel"></i>
                <span>Veículo</span>
            </a>

        </li>
        <li>
            <a class="link-sem-underline" href="#/anuncios/domestico">
                <i class="flaticon-pc-computer-with-monitor"></i>
                <span>Doméstico</span>
            </a>
        </li>
        <li>
            <a class="link-sem-underline" href="#/anuncios/carga">
                <i class="flaticon-refrigerator"></i>
                <span>Carga</span>
            </a>
        </li>
        <li>
            <a class="link-sem-underline" href="#/anuncios/mudanca">
                <i class="flaticon-sofa"></i>
                <span>Mudança</span>
            </a>
        </li>
        <li>
            <a class="link-sem-underline" href="#/anuncios/outros">
                <i class="flaticon-cube"></i>
                <span>Outros</span>
            </a>
        </li>
    </ul>
</div>

<div class="tp-banner-container hidden-xs hidden-sm ">
    <div class="tp-banner" >
        <ul>
            <!-- SLIDE 1 -->
             <li data-transition="cube" data-slotamount="6" data-masterspeed="400" >
                <!-- MAIN IMAGE -->
                <img src="img/bg_banner1.jpg" style="background-color:#fff" alt=""  data-bgfit="cover" data-bgposition="center bottom" data-bgrepeat="no-repeat">

                <div id="texto1" class="tp-caption large_bold_grey heading customin customout"
                     data-x="50"
                     data-y="205"
                     data-splitin="chars"
                     data-splitout="chars"
                     data-elementdelay="0.05"
                     data-start="1500"
                     data-speed="900"
                     data-easing="Back.easeOut"
                     data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                     data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                     data-endspeed="500"
                     data-endeasing="Power3.easeInOut"
                     data-captionhidden="on"
                     style="margin-top:30px;text-transform:uppercase;z-index:5;color:#FFF;font-size:48px;font-family: 'Open Sans', sans-serif;">Aqui sua entrega é garantida
                </div>
                <div class="tp-caption sfl modern_medium_light"
                     data-x="250"
                     data-y="270"
                     data-speed="800"
                     data-start="2000"
                     data-easing="Power4.easeOut"
                     data-endspeed="500"
                     data-endeasing="Power4.easeIn"
                     style="border-top:4px solid #FFF;margin-top:30px;padding:40px 60px 40px 60px;z-index: 3;color:#FFF;font-size:30px;font-size:36px;font-family: 'Open Sans';text-transform: uppercase;">Venha Conferir
                </div>
            </li>
            <li data-transition="cube" data-slotamount="6" data-masterspeed="400" >
               <!-- MAIN IMAGE -->
               <img src="img/bg_banner2.jpg" style="background-color:#fff" alt=""  data-bgfit="cover" data-bgposition="center bottom" data-bgrepeat="no-repeat">
                <div id="texto1" class="tp-caption large_bold_grey heading customin customout"
                     data-x="50"
                     data-y="165"
                     data-splitin="chars"
                     data-splitout="chars"
                     data-elementdelay="0.05"
                     data-start="1500"
                     data-speed="900"
                     data-easing="Back.easeOut"
                     data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                     data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                     data-endspeed="500"
                     data-endeasing="Power3.easeInOut"
                     data-captionhidden="on"
                     style="margin-top:30px;text-transform:uppercase;z-index:5;color:#FFF;font-size:48px;font-family: 'Open Sans', sans-serif;">
                </div>
                <div class="tp-caption sfl modern_medium_light"
                     data-x="250"
                     data-y="260"
                     data-speed="800"
                     data-start="2000"
                     data-easing="Power4.easeOut"
                     data-endspeed="500"
                     data-endeasing="Power4.easeIn"
                     style="padding:40px 60px;z-index: 3;color:#FFF;font-size:30px;font-size:36px;font-family: 'Open Sans';text-transform: uppercase;">
                </div>
            </li>
            <!-- SLIDE 1 -->
             <li data-transition="cube" data-slotamount="6" data-masterspeed="400" >
                <!-- MAIN IMAGE -->
                <img src="img/bg_banner3.jpg" style="background-color:#fff" alt=""  data-bgfit="cover" data-bgposition="center bottom" data-bgrepeat="no-repeat">

                <div id="texto1" class="tp-caption large_bold_grey heading customin customout"
                     data-x="50"
                     data-y="165"
                     data-splitin="chars"
                     data-splitout="chars"
                     data-elementdelay="0.05"
                     data-start="1500"
                     data-speed="900"
                     data-easing="Back.easeOut"
                     data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                     data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                     data-endspeed="500"
                     data-endeasing="Power3.easeInOut"
                     data-captionhidden="on"
                     style="margin-top:30px;text-transform:uppercase;z-index:5;color:#FFF;font-size:48px;font-family: 'Open Sans', sans-serif;">
                </div>
                <div class="tp-caption sfl modern_medium_light"
                     data-x="250"
                     data-y="260"
                     data-speed="800"
                     data-start="2000"
                     data-easing="Power4.easeOut"
                     data-endspeed="500"
                     data-endeasing="Power4.easeIn"
                     style="padding:40px 60px;z-index: 3;color:#FFF;font-size:30px;font-size:36px;font-family: 'Open Sans';text-transform: uppercase;">
                </div>
            </li>
        </ul>
        <!-- Banner Timer -->
        <div class="tp-bannertimer hidden-sm hidden-xs "></div>
    </div>
</div>

<div class="barra">
    <div class="container">
        <div class="col-md-3 col-sm-6 col-xs-6">
            <div class="col-md-3 col-xs-3 col-sm-3 no-padding">
                <img class="img-responsive" src="img/ico-bar-1.png">
            </div>
            <div class="col-md-9 col-xs-9 col-sm-9 no-padding">
                <span>Diversidade <br>de Anúncio</span>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-6 onbar">
            <div class="col-md-3 col-xs-3 col-sm-3 no-padding">
                <img class="img-responsive" src="img/ico-bar-2.png">
            </div>
            <div class="col-md-9 col-xs-9 col-sm-9 no-padding">
                <span>Preço Justo <br> no Transporte</span>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-6">
            <div class="col-md-3 col-xs-3 col-sm-3 no-padding">
                <img class="img-responsive" src="img/ico-bar-3.png">
            </div>
            <div class="col-md-9 col-xs-9 col-sm-9 no-padding">
                <span>Dados Pessoais <br> Protegidos</span>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-6 onbar">
            <div class="col-md-3 col-xs-3 col-sm-3 no-padding">
                <img class="img-responsive" src="img/ico-bar-4.png">
            </div>
            <div class="col-md-9 col-xs-9 col-sm-9 no-padding">
                <span>Pagamento <br> Seguro</span>
            </div>
        </div>
    </div>
</div>

<div class="anuncios">
    <div class="container">
        <div class="title">
            <span>Anúncios em Destaque</span>
            <a class="right carousel-control hidden-xs hidden-sm " href="#myCar" role="button" data-slide="next"></a>
            <a class="left carousel-control hidden-xs hidden-sm" href="#myCar" role="button" data-slide="prev"></a>
        </div>
    </div>
    <div id="myCar" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <div class="container">

                    <div class="col-md-3 box-anuncio" ng-repeat="anuncio in anuncios">
                        <div class="img" style="background: url({{ anuncio.fotos[0]}}) center center no-repeat">
                            <div class="data">Expira em {{calculaValidadeAnuncio(anuncio)}} dias</div>
                        </div>
                        <div class="nome">{{anuncio.titulo}}</div>
                        <div class="origem">{{anuncio.enderecoOrigem.cidade}}</div>
                        <div class="destino">{{anuncio.enderecoDestino.cidade}}</div>
                        <div class="detalhes"><a ng-href="#/anuncio-detalhe/{{anuncio.id}}">  Detalhes</a></div>
                    </div>

                    <h3 ng-show="anuncios.length == 0">Nenhum anúncio cadastrado</h3>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="box-info">
    <div class="box1">
        <div class="container">
          <div class="col-md-12">
            <div class="title">Como Funciona?</div>
          </div>
          <div class="row">
            <div class="col-md-6 pull-right">
                <div class="desc">Se sua preferência é transportar, você poderá buscar cargas de modo rápido e eficiente, efetuando os melhores lances para ganhar o frete.
                Você ainda pode receber indicações em sua rota para otimizar sua viagem e ainda tenha mais opções para seu frete de retorno.</div>
            </div>
            <div class="col-md-6 pull-left animated bounceInLeft">
              <img src="img/ico-bx1.png">
            </div>
          </div>
          <div class="row last">
            <div class="col-md-6 pull-left">
                <div class="desc">Anuncie o que deseja transportar dentre diversas categorias e aguarde que
                transportadores do Brasil inteiro irão lhe oferecer lances para efetuar
                seu transporte da maneira mais segura e eficiente.</div>
            </div>
            <div class="col-md-6 pull-right">
              <img class="pull-right" src="img/ico-homeAnunciante.png">
            </div>
          </div>
        </div>
    </div>
    <div class="box2">
        <div class="container">
        <div class="col-md-9 pull-left">
            <div class="title">Por quê nós?</div>
            <div class="desc">Com o EntregÁgil você tem maior segurança para a entrega de seus produtos, mais opções de cargas e garantia de recebimento para o seu transporte.
            Para os anunciantes, oferecemos pregões que visam obter o frete pelo menor valor ofertado. E com o nosso sistema de sugestão, os transportadores receberão indicações de novos transportes em sua rota, melhorando sua logística. Além de contarmos com o frete seguro, onde o anunciante efetua o pagamento pelo transporte que só será liberado após a confirmação da entrega de ambas as partes.
            </div>
        </div>
        <div class="col-md-3 pull-right animated bounceInRight">
                <img src="img/package.png">
        </div>
        </div>
    </div>
</div>


</div>
<!-- SLIDER REVOLUTION 4.x SCRIPTS  -->
<script type="text/javascript" src="js/slider/jquery.themepunch.plugins.min.js"></script>
<script type="text/javascript" src="js/slider/jquery.themepunch.revolution.min.js"></script>
<!-- JS code for this page -->
<script>
/* ******************************************** */
/*  JS for SLIDER REVOLUTION  */
/* ******************************************** */
jQuery(document).ready(function () {
  jQuery('.tp-banner').revolution(
          {
              delay: 9000,
              startheight: 500,
              hideThumbs: 10,
              navigationType: "bullet",
              hideArrowsOnMobile: "on",
              touchenabled: "on",
              onHoverStop: "on",
              navOffsetHorizontal: 0,
              navOffsetVertical: 20,
              stopAtSlide: -1,
              stopAfterLoops: -1,
              shadow: 0,
              fullWidth: "on",
              fullScreen: "off"
          });
});
  </script>
