<ion-view view-title="Forgot-Password" hide-nav-bar="true">
  <ion-content id="login">
    <div id="">
      <div class="padding">
          <div class="txtInfo">
            <span class="no-padding">Por favor, informe seu e-mail abaixo. Uma nova 
            senha será enviada para o endereço cadastrado.</span>
          </div>
          <label class="item item-input">
            <span class="icoM flaticon-avatar"></span>
            <input type="email" placeholder="E-MAIL" ng-model="user.email">
          </label>
          <!-- <button class="button button-block login" ng-click="showAlert()"> -->
          <button class="button button-block login" ng-click="signIn(user)">
            Enviar
          </button>
      </div>
    </div>
  </ion-content>
 </ion-view>

<style type="text/css">
  .txtInfo{
    padding: 10px;
    margin: 10px 0px 10px 0px;
  }
  .txtInfo span{
    color: #fff;
    font-size: 16px;
  }
  .no-padding{
    padding: 0;
  }
</style>


    

