<link href="css/criarAnuncio/domestico/animal.css" rel="stylesheet">

<div id="animal" class="container" ng-init="init()">
    <div class="title-pag">Criar Anúncio</div>
    <div class="etapas">
        <ul>
            <li ng-class="{}"><b>1º | Categoria</b></li>
            <li ng-class="{on : count==2}"><b>2º | Produto</b></li>
            <li ng-class="{}"><b>3º | Entrega</b></li>
        </ul>
    </div>
    <div class="titulocategorias">
        <label>Preencha as informações do produto que será transportado.</label>
    </div>
    <form ng-submit="salvarItem()">
        <div id="criarAnuncio">
            <div class="domesticoAnimal">
                <div class="anuncioBox">
                    <div class="tituloanuncio">Doméstico - Animais (Pet, Cavalos, Gados...)</div>
                    <div class="col-md-12">
                        <label>Tipo:</label>
                    </div>
                    <div class="col-md-12">
                        <input type="text" class="form-control" id="tipoAnimais" ng-model="anuncio.tipo" placeholder="Tipo" ng-blur="validarCampoObrigatorio('Tipo', '#tipoAnimais')" required="">
                    </div>
                    <div class="col-md-12">
                        <label>Nome e Raça:</label>
                    </div>
                    <div class="col-md-6">
                        <input type="text" class="form-control" id="nomeAnimal" placeholder="Nome (Caso não possua deixe em branco)" ng-model="anuncio.nome" >
                    </div>
                    <div class="col-md-6">
                        <input type="text" class="form-control" placeholder="Raça" ng-model="anuncio.raca" >
                    </div>
                    <div class="col-md-12">
                        <label>Possui Caixa de Transporte ?</label>
                    </div>
                    <div class="col-md-1">
                        <label class="radio-inline">
                            <input type="radio"  ng-model="anuncio.possuiCaixaTranporte" ng-value="true" name="possuiCaixaTranporte" required >Sim
                        </label>
                    </div>
                    <div class="col-md-1">
                        <label class="radio-inline">
                            <input type="radio" ng-model="anuncio.possuiCaixaTranporte" ng-value="false" name="possuiCaixaTranporte" required>Não
                        </label>
                    </div>
                    <div class="col-md-12">
                        <label>Características: </label>
                    </div>
                    <div class="col-md-2">
                        <input type="text" onkeypress='return (event.charCode >= 48 && event.charCode <= 57) || event.keyCode == 46' class="form-control" ng-model="anuncio.peso"  placeholder="Peso(kg)" required>
                    </div>
                    <div class="col-md-2">
                        <input type="text" onkeypress='return (event.charCode >= 48 && event.charCode <= 57) || event.keyCode == 46' class="form-control" ng-model="anuncio.altura" placeholder="Altura(m)" required>
                    </div>
                    <div class="col-md-8">
                    </div>
                    <div class="col-md-12">
                        <label>Animal está com a vacinação em dia ?</label>
                    </div>
                    <div class="col-md-1">
                        <label class="radio-inline">
                            <input type="radio" ng-model="anuncio.vacinacaoEmDia" ng-value="true" name="vacinacaoEmDia" required >Sim
                        </label>
                    </div>
                    <div class="col-md-1">
                        <label class="radio-inline">
                            <input type="radio" ng-model="anuncio.vacinacaoEmDia" ng-value="false" name="vacinacaoEmDia" required >Não
                        </label>
                    </div>
                    <div class="col-md-12">
                        <label>Animal está com os registros necessários ?</label>
                    </div>
                    <div class="col-md-1">
                        <label class="radio-inline">
                            <input type="radio" ng-model="anuncio.possuiTodosRegistros" ng-value="true" >Sim
                        </label>
                    </div>
                    <div class="col-md-1">
                        <label class="radio-inline">
                            <input type="radio" ng-model="anuncio.possuiTodosRegistros" ng-value="false">Não
                        </label>
                    </div>
                    <div class="col-md-12">
                        <label>Observação:</label>
                    </div>
                    <div class="textoarea">
                        <div class="col-md-12">
							<textarea class="form-control" rows="2" placeholder="Observação ou instrução adicional (opcional)" ng-model="anuncio.observacao" >
							</textarea>
                        </div>
                    </div>

                    <!-- IMAGEM -->
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-2" style="margin-top:20px;">
                                    <button style="color: #155969;padding: 35px 0 35px 0;border: dotted;width: 137px;" class="btn-file">
                                        <i class="glyphicon glyphicon-camera" style="width: 130px; font-size:37px; color: #155969;"></i>
                                        <input type="file" name="imgUp" value="" id="imgUp">
                                        Adicionar Imagem 
                                    </button>
                                </div>

                                <div id="foto">
                                    
                                </div>
                            </div>
                        </div>
                </div>
            </div>
        </div>

        <button type="submit" class="btn btn-primary pull-right">Próximo</button>
        <a href="#/anuncio/criar-anuncio" class="btn btn-primary pull-left">Voltar</a>

    </form>
</div>

<script type="text/javascript" src="js/bootstrap/jquery.min.js"></script></script>
<script type="text/javascript">
    $(document).ready(function(){
        idFoto = 'imgAnuncio';
        count = 0;
        styleButton = 301;
    });

    function inserirImagem() {
        count++;

        var idDiv = 'divImagem' + count;
        var addDiv = $('<div"> </div>');
        addDiv.attr('id', idDiv);

        var addImg = $('<img style="margin-top:20px; height:140px; width:140px;" id="imgAnuncio" required="" alt="Foto" class="img-thumbnail" ng-model="itemDoAnuncio.fotos">');

        var addButton = $('<button onclick="deleteImage(id)" class="btn btn btn-danger btn-sm" type="button"><span class="glyphicon glyphicon-trash"></span></button>');

        addDiv.attr('id', 'divImagem' + count);
        addImg.attr('id', 'imgAnuncio' + count);
        // addImg.attr('ng-model', 'anuncio.foto' + count);
        addButton.attr('style', 'position:absolute;left:' + styleButton + 'px');
        addButton.attr('id', 'imgDelete' + count);
        styleButton +=140;

        addDiv.appendTo('#foto');
        addImg.appendTo('#' + idDiv);
        addButton.appendTo('#' + idDiv);   
    }

    $("#imgUp").change(function () {

        inserirImagem();
        readImage(this);
  });

  function verificaTamanhoImagem(img) {
      $(img).one("load", function () {
          if ((img.height > 1100) || (img.width > 1100)) {
              mboxResizeImage(img);
          } else {
            console.log('#imgAnuncio' + count);
              mudaPropriedade('#imgAnuncio' + count, 'src', img.src);
              $('#base').val(img.src);
          }
      }).each(function () {
          if (this.complete) $(this).load();
      });
  }
  /*Funções js para carregar imagem*/
  function readImage(input) {
      if (input.files && input.files[0]) {
          var reader = new FileReader();
          var img = new Image();

          reader.onload = function (e) {
            console.log("readImage");
              $(img).attr('src', e.target.result);
              // $(img).prop('src', e.target.result);
              verificaTamanhoImagem(img);
          }

          reader.readAsDataURL(input.files[0]);
      }
  }
  function mboxResizeImage(img) {
      resizeImage(img);
  }
  function resizeImage(img) {
      var newDataUri = newImageToDataUrl(img, "500", "500");
      console.log('#imgAnuncio' + count);
      mudaPropriedade('#imgAnuncio' + count, 'img.src', newDataUri);
      $('#base').val(newDataUri);
  }
  function newImageToDataUrl(img, width, height) {
      var canvas = document.getElementById('meuCanvas'),
      ctx = canvas.getContext('2d');
      ctx.drawImage(img, 0, 0, width, height);
      return canvas.toDataURL();
  }
  function deleteImage (item) {
      var indice = item.substring(9, 10);
      var divImagem = 'divImagem' + indice;

      $('#' + divImagem).remove(); 
  }
  function mudaPropriedade(idComponente, prop, valor) {
      fotos.push(valor);
      $(idComponente).attr(prop, valor);
      // $(idComponente).prop(prop, valor);
  }
  function base64ToDataUri(base64) {
      return 'data:image/png;base64,' + base64;
  }

</script>